
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ev Station | Forgot Password</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    
    <link rel="stylesheet" href="/css/adminlte.min.css?v=3.2.0">
    <style>
        .error{
            color:red
        }
        
        #load{
            position: absolute;
            top:-50%;
            left:45%;
            z-index: +100 !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body class="login-page" style="min-height: 496.781px;">
    <div class="login-box">
        <div class="login-logo">
            <b>Ev Station</b>
        </div>
        
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg alertbox">Forgot Password</p>
                <div class="dynamic-form">
                    <form id="email-form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="row">
                            <div class="col-4"  style="margin:auto">
                                <button type="submit" class="btn btn-primary btn-block login">Submit</button>
                            </div>
                        </div>
                        <img id="load" src="/storage/images/load.gif" class="rounded-circle" width="50px;" height="50px;" style="display: none">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/plugins/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    toastr.options.timeOut = 2500;
    toastr.options.closeButton = true;
</script>
<script type="text/javascript" src="/plugins/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="/plugins/jquery-validation/additional-methods.min.js"></script>
<script>
    var email;
    var otp;
    
    $(document).on('click','.login',function(){
        $("#email-form").validate({
            rules:{
                email:{
                    required:true,
                    email:true
                },
            },
            messages:{
                email:{
                    required:"Please enter email!",
                    email:"Please enter email in a proper format!"
                },
            },
            submitHandler:function(form,e){
                e.preventDefault();
                email = $("#email").val();
                $.ajax({
                    type: "post",
                    url: "/forgot-password/check-email",
                    data: {email},
                    beforeSend:function(){
                        $("#load").show();
                    },
                    success: function (response) {
                        $("#load").hide();
                        if(response.status == false){
                            toastr.error(response.error,"Error")
                        }else{
                            // $('#email-form').hide();
                            toastr.success(response.message,"Success")
                        }               
                    },
                    error:function(error){
                        $("#load").hide();
                        console.log("asdasdas ");
                        var err = JSON.parse(error.responseText);
                        toastr.error(err.error,"Error")
                    }
                });
            }
        }); 
    });
    
</script>
</html>
